@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Une Course ?</h1>
    <p class="lead"> Vous êtes au bon endroit ! </p>
    <p>@Html.ActionLink("Par ici !", "Index", "Races")</p>

</div>