@model BO.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Catégories</h2>

<h3>Suppression d'une catégorie</h3>
<div>
    <h4>Confirmer la suppression de cette catégorie??</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
        </div>
    }
</div>
<div>
    @Html.ActionLink("Retour à la liste des catégories", "Index")
</div>
