@model BO.Category

@{
    ViewBag.Title = "Details";
}

<h2>Catégories</h2>

<div>
    <h4>Details d'une catégorie</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
    <div>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    </div>

<div>
    @Html.ActionLink("Retour à la liste des catégories", "Index")
</div>
